.tableTotalDiv{
    margin-top: 20px;
    display: flex;
}

.tableDiv{
    width: 70%;
}

.totalDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qteDiv{
    width: 30rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 206);
}

.fsRow{
margin-bottom: 10px;
}

.scndRow{

}

.fsBtn{
    padding: 10px;
    margin-right: 5px;
}